.site-title{
    text-align: center;
}

.site-description{
    text-align: center;
}

nav {
    a{
        margin-left: 170px;
        color: grey;
        a:visited{
            color: cornflowerblue;
        }
    }
}

article{
    max-height: 60em;
    min-height: 40em;
}